a {
    text-decoration: inherit;
    color: inherit;
}

body {
    background: black;
    overflow: hidden;
    font-family: courier,monospace;
    line-height: 1.5;
}

.bubble {
    display: block;
    position: absolute;
    border-radius: 10px 10px 10px 0px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.5);
}

#header {
    z-index: 10;
    top: 5px;
    left: 5px;
    padding: 5px 10px;
    background: #444444;
    color: white;
}

.git {
    min-height: 80px;
    min-width: 200px;
    max-width: 50%;
}

.git:hover {
    z-index: 10;
}

.git img {
    position: absolute;
    border-radius: 10px 0px 0px 0px;
    overflow: hidden;
}

.git .text {
    margin: 10px 10px 10px 90px;
    font-family: courier,monospace;
    line-height: 1.5;
}
