a {
    text-decoration: inherit;
    color: inherit;
}

body {
    background: black;
    font-family: Helvetica, sans-serif;
    line-height: 1.5;
}

#header {
    display: block;
    position: absolute;
    z-index: 10;
    top: 5px;
    left: 5px;
    padding: 5px;
    background: #444444;
    color: white;
    border-radius: 10px 10px 10px 0px;
}

.bubble {
    display: block;
    position: absolute;
    background: white;
    border-radius: 10px 10px 10px 0px;
}

.bubble:hover {
    z-index: 10;
}

.bubble img {
    float: left;
    margin-right: 10px;
    border-radius: 10px 0px 0px 0px;
    overflow: hidden;
}

.bubble .text {
    margin: 10px;
}
