a {
    text-decoration: inherit;
    color: inherit;
}

#main {
    position: absolute;
    width: 100%;
    height: 100%;
    background: black;
}

.bubble {
    display: block;
    position: absolute;
    background: white;
    border-radius: 10px;
}

.bubble img {
    float: left;
    margin-right: 5px;
}

.text {
    margin: 5px;
}
